
@media(max-width: 600px){
  .content-card{
    padding: 2vh;
    
  }
     h1 {
    font-size: 8vw;
  }
  h2 {
    font-size: 6vw;
  }
  h3 {
    font-size: 5.8vw;
  }
  p {
    font-size: 4.4vw;
  }
}
@media(max-width: 900px){

  
}
.content-card {
  background-color: #fffffe;
  //   margin: 0 10px 25px 0;
  display: block;
  align-self: center;
  min-width: 320px;
  max-width: 720px;
  border-left: #fffd61 0.1rem dashed;
  border-bottom: #ff87ab 0.22rem solid;
  width: 100%;

 

  .content-header {
    display: inline-block;
    // align-content: center;
    right: -10px;
    color: #1d212c;
    background-color: #4fc3f7;
    padding: 1rem;

    box-shadow: -10px 10px rgba(29, 33, 44, 79%);

    // border-color: aquamarine;
  }

  .content-body {
    //align-self: stretch;
    // background-color: #444855;
    margin-top: 0;
    padding: 0 0 0 .95vh;
    font-size: 1.25rem;
    text-indent: 0;
  }
  
}
