.content-card{
    background: #000;
    margin: 0 10px 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #efefef;
    padding: 10px 25px;
    max-width: 720px;

    .content-header{
        color: aquamarine;
        text-decoration: underline;
        text-decoration-color: rosybrown;
        // border-color: aquamarine;
        font-size: 1.75rem;

        &:hover {
            font-style: italic;
        }
    }

    .content-body{
        padding: 10px 5px;
        font-size: 1.25rem;
        text-indent: 2rem;
    }
}