.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  justify-self: center;
  background-color: #1d212c;

  //   border: 1px dashed #2d212c;
  // background-color: #000;

  .logo {
    align-self: center;
    padding: 1.75vh;

    a {
      font-family: "Victor Mono", monospace;
      font-style: italic;
      font-size: 2.3rem;
      color: #fffd61;
      text-decoration-color: #ef5350;
    }

    &:hover {
      a:after {
        content: "donovanuy";
      }
    }

    a:after {
      color: #fffd61;
      content: "dceu";
    }

    a:before {
      color: #4fc3f7;
      content: "@";
    }
  }

  .contact-info {
    display: none;
  }
  //   &:hover {
  //     background-color: #1d2c21;
  //     color: #f1ffff;
  //     .logo {
  //       background-color: #444855;
  //       display: flex;
  //       flex-direction: row;
  //       align-content: space-around;
  //       justify-content: space-evenly;

  //       a {
  //         text-decoration: none;
  //       }

  //       .home-utf {
  //         font-size: 5rem;
  //       }

  //       .heaven-utf {
  //         font-size: 4.75rem;
  //       }
  //     }

  //     .contact-info {
  //       display: flex;
  //       flex-direction: column;
  //     }
  //   }
}
