$primary-color: #1d212c;
$white-balance: #fffffe;

.app-container {
  display: flex;
  justify-content: center;
  height: 99vh;
  align-items: center;
  padding-top: 5px;
  background-color: $white-balance;
  ::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }

  .page-container {
    align-self: stretch;
    height: 66vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1.5vh 5vw 0 10vh;
    overflow-y: scroll;
    ::-webkit-scrollbar {
      width: 0; /* Remove scrollbar space */
      background: transparent; /* Optional: just make scrollbar invisible */
    }
  }

  .small {
    align-self: center;
    border: 1px solid black;
  }
}
