$primary-color: #1d212c;
$white-balance: #fffffe;

@media(max-width: 600px){
  .app-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start !important;
    align-items: flex-start;
    padding-top : none !important;
   background-color: $white-balance;
   ::-webkit-scrollbar {
     width: 0; /* Remove scrollbar space */
     background: transparent; /* Optional: just make scrollbar invisible */
  }
}
}
@media(min-width: 601px){
.app-container {
  display: flex;
  justify-content: center;
  height: 99vh;
  align-items: center;
  padding-top: 5px;
  background-color: $white-balance;
  ::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
}

  .page-container {
    align-self: stretch;
    height: 66vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1.5vh 5vw 0 10vh;
    overflow-y: scroll;
    ::-webkit-scrollbar {
      width: 0; /* Remove scrollbar space */
      background: transparent; /* Optional: just make scrollbar invisible */
    }
    box-shadow: #1d212c 1px;
    max-width: 720px;
    z-index: 0;
  }

}
