$header-font: "Abril Fatface", cursive;
$hook-text: "Playfair Display", serif;
$paragraph: "Raleway", sans-serif;
$code-font: "Victor Mono", monospace;

h1,
h2 {
  display: inline-block;
  font-family: $header-font;
  font-size: 3rem;
  border-bottom: 0.25rem solid rgb(167, 174, 180);
  padding: 0 3rem 0 1.8rem;
  border-left: 0.25rem solid #ffd95a;
  // text-decoration: underline;
  // text-decoration-color: rgb(167, 174, 180);
}

h3 {
  font-size: 1.65rem;
  font-family: $hook-text;
  display: inline-block;
}

p,
li {
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  text-indent: 2vw;
  padding-top: 0;
  margin-top: 0;
}
ul {
  list-style-type: square;
}
li a {
  background-color: #1d212c;
  color: #4fc3f7;
  text-decoration-color: #ffd95a;

  &:hover {
    font-family: "Victor Mono", monospace;
    background-color: #444855;
    color: #ff5c8d;
    font-style: italic;

    // a:before {
    //   color: #ff5c8d;
    //   content: "<(";
    // }

    // a:after {
    //   color: #ff5c8d;
    //   content: ")=>";
    // }
  }
}
